.aside {
  grid-area: a;
  padding: 20px;
  background-color: darkseagreen;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-bottom: 10px;
  text-transform: uppercase;
}


.link {
  user-select: none;
  transition: color .5s;
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: tomato;
}

.link.active {
  pointer-events: none;
  color: dodgerblue;
}
