.post {
  display: flex;
  margin-bottom: 20px;
  list-style: none;
}



.avatar {
  overflow: hidden;
  flex: none;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
}

.avatar img {
  display: block;
  width: 70px;
  height: 70px;

  object-position: center;
  object-fit: cover;
}

.text {
  margin-bottom: 10px;
}

.reactions {
  display: flex;
}

.reaction__btn {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 30px;
  cursor: pointer;
  transition: opacity .3s;
  color: #fff;
  border: 2px solid darkseagreen;
  background-color: darkseagreen;
  box-shadow: none;
}

.reaction__btn:hover {
  opacity: .8;
}
