.header {
  grid-area: h;
  padding: 20px;
  background-color: darkseagreen;
}

.logo {
  display: block;
  overflow: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
}

.logo img {
  display: block;
  width: 100px;
  height: 100px;

  object-fit: cover;
  object-position: center;
}
