.wrap {
  display: grid;
  grid-template-rows: 140px 1fr;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;

  grid-template-areas: 'h h h'
  'a m m';
}

.main {
  grid-area: m;
  background-color: burlywood;
}
